# Ignore node_modules (Node.js dependencies)
node_modules/

# Ignore log files
npm-debug.log
yarn-error.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary or local configuration files
.vscode/